name: choco-pkgs test
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .gitignore
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: 0 19 * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  detect:
    runs-on: windows-latest
    timeout-minutes: 30
    permissions:
      contents: read
      actions: write
    outputs:
      folder: ${{ steps.detect.outputs.folder }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1.4.0
        with:
          age: '1 day'
          skip-recent: 0

      - name: Detect changed folder
        id: detect
        shell: pwsh
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          $changed = git diff --name-only ${{ github.event.before }} ${{ github.sha }}
          $packageChanged =  $changed | Where-Object { ($_ -notlike ".github/*") -and ($_ -notlike ".icon/*") }
          $itselfChanged = $changed | Where-Object { $_ -like "*test.yml" }

          if (-not $packageChanged) {
            Write-Output "No package changes detected"
            $folder = ""
          } else {
            $folder = $packageChanged  | ForEach-Object {
              $parts = $_ -split "/"
              if ($parts.Length -ge 2) {
                "$($parts[0])/$($parts[1])"
              }
            } | Sort-Object -Unique
            Write-Output "Folder changed under the packages: $folder"
          }
      
          echo "folder=$folder" >> $env:GITHUB_OUTPUT

  test:
    runs-on: windows-latest
    timeout-minutes: 120
    needs: detect
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Enable Windows Update
        shell: pwsh
        run: |
          # PowerShell package (as choco-nuspec-checker dependency) need this, see https://github.com/KarbitsCode/choco-pkgs/actions/runs/17194511952/job/48774605367#step:3:28
          Set-Service -Name "wuauserv" -StartupType Manual -Verbose
          Start-Service -Name "wuauserv" -Verbose -PassThru

      - name: Set up chocolatey packages
        uses: crazy-max/ghaction-chocolatey@v4.0.0
        with:
          args: upgrade choco-nuspec-checker chocolatey-au curl -y

      - name: Run powershell scripts
        shell: pwsh
        run: |
          .\test.ps1 ${{ needs.detect.outputs.folder }}

      - name: Prepare artifact name
        id: artifact
        if: always()
        shell: pwsh
        run: |
          $folder = "${{ needs.detect.outputs.folder }}"
          if ($folder) {
            $first = ($folder -split "\s+")[0]
            $name = "-$($first -replace "[\\/]", "-")"
          } else {
            $name = ""
          }
          echo "artifact_name=$name" >> $env:GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: screenshots${{ steps.artifact.outputs.artifact_name }}
          if-no-files-found: ignore
          compression-level: 9
          path: |
            ./_ss/
