name: choco-pkgs test
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .gitignore
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: 0 19 * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    runs-on: windows-latest
    timeout-minutes: 120
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Enable Windows Update
        shell: pwsh
        run: |
          # PowerShell package (as choco-nuspec-checker dependency) need this, see https://github.com/KarbitsCode/choco-pkgs/actions/runs/17194511952/job/48774605367#step:3:28
          Set-Service -Name 'wuauserv' -StartupType Manual -Verbose
          Start-Service -Name 'wuauserv' -Verbose -PassThru

      - name: Set up chocolatey packages
        uses: crazy-max/ghaction-chocolatey@v3.4.0
        with:
          args: upgrade choco-nuspec-checker chocolatey-au curl -y

      - name: Detect changed folder
        id: detect
        shell: pwsh
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          $changed = git diff --name-only ${{ github.event.before }} ${{ github.sha }}
          $packageChanged =  $changed | Where-Object { ($_ -notlike ".github/*") -and ($_ -notlike ".icon/*") }
          $itselfChanged = $changed | Where-Object { $_ -like "*test.yml" }

          if (-not $packageChanged) {
            Write-Host "No package changes detected"
            $folder = ""
          } else {
            $folder = $packageChanged  | ForEach-Object {
              $parts = $_ -split "/"
              if ($parts.Length -ge 2) {
                "$($parts[0])/$($parts[1])"
              }
            } | Sort-Object -Unique
            Write-Host "Folder changed under the packages: $folder"
          }
      
          echo "folder=$folder" >> $env:GITHUB_OUTPUT

      - name: Run powershell script
        shell: pwsh
        run: |
          .\test.ps1 ${{ steps.detect.outputs.folder }}
